---
layout: default
classname: home
---

    <!-- Intro Header -->
    <header class="intro">
        <div class="jellybeans">
{% include jellybeans.html %}
        </div>
    </header>

    <!-- Jellybeans Section -->
    <section id="jellybeans">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="jellybeans content-section">
{% include jellybeans.html %}
<p>&nbsp;</p>
<p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content Section -->
    <section id="guide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="content-section">
                        <h1>Add amp to #music, or DM, and make sure your amp bot (Amp on your Android device) is online <img src="{{ site.cdn }}/assets/images/guide_amp_online.png" style="width:72px; vertical-align:bottom;"></h1>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-section">
                        <img class="screenshot" src="{{ site.cdn }}/assets/images/guide_music_channel.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="content-section">
                        <h1>Message a track, artist or both</h1>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-section">
                        <img class="screenshot" src="{{ site.cdn }}/assets/images/guide_request_music.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="content-section">
                        <h1>Change your request simply by editing your message</h1>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-section">
                        <img class="screenshot" src="{{ site.cdn }}/assets/images/guide_edit_request.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="content-section">
                        <h1>Check spelling with Google's Custom Search Engine API</h1>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-section">
                        <img class="screenshot" src="{{ site.cdn }}/assets/images/guide_spelling.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="content-section">
                        <h1>Don't have Slack?<br>&nbsp;<br>Setup a Twitter jukebox for your event and have your patrons request their own music. :)</h1>
                        <br><img class="screenshot" src="{{ site.cdn }}/assets/images/guide_twitter.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
