---
title: Encrypted bot API token
---
<!doctype html>
<!--
                       
   _` | __ `__ \  __ \ 
  (   | |   |   | |   |
 \__,_|_|  _|  _| .__/ 
                 _|    
                       
>>amp.ufo.ai. //+o: amp
-->
<html lang="en">
<head>
{% include meta.html %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ site.cdn }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.cdn }}/assets/css/amp.css" rel="stylesheet">
    <link href="{{ site.cdn }}/favicon.ico" rel="icon" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.ga_ua_id }}', 'auto');
  ga('send', 'pageview', '/amp/token.html');

</script>

    <!-- Content Section -->
    <section id="token">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="content-section">
<h1>{{ page.title }}</h1>

<p></p>

<h2>Now what?</h2>

<p>Amp is unique in that your Android device itself is the Slack bot. You have to add your token to Amp, either by copy-pasting, or tapping on the “Open in Amp” link from your Android device.</p>

<p>Log in to Spotify, when Amp is running your bot is online <img src="{{ site.cdn }}/assets/images/guide_amp_online.png" style="width:58px;"> and ready to take requests.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include nav.html %}
</body>
</html>
