packages:
  yum:
    ruby-devel: []
  rubygems:
    jekyll: '3.2.1'
container_commands:
  build:
    command: "/opt/elasticbeanstalk/lib/ruby/bin/jekyll build"
option_settings:
  - option_name: NODE_ENV
    value: production
  - option_name: JEKYLL_ENV
    value: production
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: none
