<div class="jellybean"><img src="{{ site.cdn }}/assets/images/jellybean_slack.png" style="width:59px; height:19px;" alt=""><span>Your music playing Slack bot</span></div>
<div class="jellybean"><img src="{{ site.cdn }}/assets/images/jellybean_twitter.png" style="width:58px; height:19px; margin-left:1px;" alt=""><span>Twitter jukebox</span></div>
<div class="jellybean"><img src="{{ site.cdn }}/assets/images/jellybean_google.png" style="width:56px; height:19px; margin-left:3px;" alt=""><span>Spelling correction</span></div>
<div class="jellybean"><img src="{{ site.cdn }}/assets/images/jellybean_cast.png" style="width:22px; height:18px; margin-left:37px;" alt=""><span>Chromecast support</span></div>
<div class="jellybean"><img src="{{ site.cdn }}/assets/images/jellybean_settings.png" style="width:22px; height:18px; margin-left:37px;" alt=""><span>Post to an Amp URL</span></div>
<div class="jellybean"><img src="{{ site.cdn }}/assets/images/jellybean_settings.png" style="width:22px; height:18px; margin-left:37px;" alt=""><span>Share Spotify tracksets</span></div>
