    <!-- Header -->
    <header>
        <div class="logo"><a href="{{ site.cdn }}/"><img src="{{ site.cdn }}/assets/images/logo.png"><span>Amp</span></a></div>
    </header>

    <!-- Legal Section -->
    <footer class="legal">
        <div><a href="{{ site.cdn }}/privacy/">Privacy policy</a></div>
        <div><a href="{{ site.cdn }}/licenses/">Open source licenses</a></div>
        <div><a href="https://github.com/ufotechnologies/amp" target="_blank">GitHub</a></div>
        <div><a href="http://www.billboard.com/biz/articles/news/digital-and-mobile/5800475/rip-winamp-1997-2013-marking-the-end-of-the-beginning" target="_blank">RIP Winamp</a></div>
        <div><a class="heart"><span class="icon-heart-o"></span></a></div>
        <div><a class="spotify" href="https://www.spotify.com/" target="_blank"><img alt="Spotify" src="{{ site.cdn }}/assets/images/spotify.png"></a></div>
    </footer>
